/* .circular-btn {
  all: unset;
  width: 42px;
  height: 42px;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.circular-btn::after,
.circular-btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}
.circular-btn::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #295dfb1a;
  border-radius: 100%;
}
.circular-btn::after {
  transform: translate(1px, 1px);
  width: 1px;
  height: 1px;
  background: #6865ff;
  border-radius: 100%;
}
.circular-btn:hover::after {
  border-radius: 100%;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}
.circular-btn:active::after {
  transition: 0s;
  transform: translate(0, 5%);
} */
.alt-color-purple {
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.circular-btn {
  background-color: #295dfb1a;
  color: #0d6efd;

  
  border-radius: 100%;

  font-size: 15px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  overflow: hidden;
  transition: color 0.5s ease;
  transition-duration: 0.4s;
}
.circular-btn:hover {
  color: white;
  transition-duration: 0.5s;
}
.circular-btn-hover.alt-color-purple b {
  background-color: #6865fe;
}
.circular-btn-hover:hover b {
  width: 400px;
  height: 400px;
  display: inline-block;
}
.circular-btn-hover b {
  position: absolute;
  width: 0;
  height: 0;
  background-color: black;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s ease;
  z-index: 1;
}
.circular-btn:hover span.white-text {
  color: white;
}
.circular-btn span {
  position: relative;
  z-index: 5;
  transition: 0.5s;
  transition-delay: 0.1s;
}
