.alt-color-black {
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.tp-btn-white {
  border: rgb(219, 215, 215) 1px solid;
  background-color: white;
  color: #000229;
  height: 45px;
  line-height: 44px;
  border-radius: 30px;
  padding: 0 35px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  overflow: hidden;
  transition: color 0.5s ease;
  transition-duration: 0.4s;
}
.tp-btn-white:hover {
  color: white;
  transition-duration: 0.5s;
}
.tp-btn-hover.alt-color-black b {
  background-color: #000229;
}
.tp-btn-hover:hover b {
  width: 400px;
  height: 400px;
  display: inline-block;
}
.tp-btn-hover b {
  position: absolute;
  width: 0;
  height: 0;
  background-color: #000229;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s ease;
  z-index: 1;
}
.tp-btn-white:hover span.white-text {
  color: white;
}
.tp-btn-white span {
  position: relative;
  z-index: 5;
  transition: 0.5s;
  transition-delay: 0.1s;
}
