@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

#topButton {
  z-index: 9999;
  bottom: 35px;
  right: 27px;
}
.arrowUp {
  left: 10px;
  top: 9px;
}

/* React scroll nav tab active */
.active-link{
  color: #6865ff;
  font-weight:600;
}

/* scroll bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6865ff;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4441ff;
}

/* selection text color */

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #6865ff;
}

::selection {
  color: white;
  background: #6865ff;
}
.one {
  /* background-color: #6865ff; */
  background-image: linear-gradient(#8583ff, #6865ff);
  color: white;
  z-index: 10;
}
.two {
  z-index: 7;
  margin-right: -3%;
  margin-left: -3%;
  margin-bottom: -12%;
}
.three {
  z-index: 9;
  margin-right: -3%;
  margin-bottom: -25%;
}
.four {
  z-index: 8;
  right: 0;
}
.slick-list .slick-slide {
  padding: 0 20px;
  margin-bottom: 10px;
}
.brand-slider .slick-slide {
  opacity: 0.5;
}
.brand-slider .slick-current {
  opacity: 1;
}
.inactive span {
  color: rgba(128, 128, 128, 0.5);
}

/* line dash animation */
.price-shape-line {
  -webkit-animation: lineDash 90s linear infinite;
  animation: lineDash 90s linear infinite;
}
@keyframes lineDash {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1000;
  }
}

/* Icon styles */
.checkIcon {
  font-size: 24px;
  width: fit-content;
  color: #6865ff;
  margin: 0 auto;
}
.closeIcon {
  font-size: 24px;
  width: fit-content;
  color: gray;
  margin: 0 auto;
}
/* SVG styling */
.hero-title-underline svg {
  width: 100%;
}

/* Media query for small screens */
@media (max-width: 768px) {
  .hero-title-underline svg {
    width: 50%;
  }
}

/* Path styling */
.hero-title-underline svg path.line1 {
  stroke-width: 2.7px;
  stroke: #6865ff;
  stroke-dasharray: 2300;
  stroke-dashoffset: 3200;
  animation: dash 2s linear both;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0px;
    stroke-dasharray: 3000;
  }
}

/* card hover or click bg change */

.active-card {
  /* background: #6865ff ; */
  background-image: linear-gradient(to top right, #6865ff,#524ffff1);
  color: white;
}
.active-card p {
  color: white;
  opacity: 90%;
}
.active-card span {
  color: white;
}
.active-card a {
  color: #6865ff;
  border: white;
  background: white;
}
.price-active-btn {
  border: 2px solid white;
}

/* Animations */
@keyframes textColorChange {
  0% { color: rgb(255, 0, 0); }
  33% { color: rgb(0, 255, 0); }
  66% { color: rgb(0, 0, 255); }
  100% { color: rgb(255, 0, 0); }
}

@layer utilities {
  .animate-text-color-change {
      animation: textColorChange 2s infinite;
  }
}

/* media queries */

@media screen and (max-width: 640px) {
  .three {
    z-index: 9;
    margin-right: -3%;
    margin-bottom: -10%;
  }
  .four {
    z-index: 8;
    right: 0;
    margin-bottom: -10%;

  }
}